body,
html {
	height: 100%
	width: 100%;
	background-color: #f8f8f8; /*white*/
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: sans-serif;
}

h1 {
	font-size: 70px;
	letter-spacing: 10px;
	font-weight: 100;
	
}

p {
	font-size: 20px;
}

/* ========== Main Header ========== */

.main-header {

	height: 100vh;
	width: 100%;
	background: url(../images/city.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.main-header > .main-header-content {
	color: #f8f8f8;
	overflow: auto;
}

/* ========== About ========== */

.about {
	height: 700px;
	width: 100%;
	padding: 150px 100px;
}

/* ========== Skill Set ========== */

.skillset {
	height: 700px;
	width: 100%;
	padding: 150px 100px;
	background-color: rgb(51, 122, 183);
	color: #f8f8f8;
}

.circle {
	height: 150px;
	width: 150px;
	background-color: #f8f8f8;
	color: rgb(51, 122, 183);;
	border-radius: 50%;

}

/* ========== Custom Vertical Center ========== */

.vertical-center-parent {
	display: table;
}

.vertical-center-child {
	display: table-cell;
	vertical-align: middle;
}